.kategori {
	padding: 100px 0px 100px 100px;
	background-color: #FFFFFF;
	vertical-align: top;
	margin-bottom: 20px;
}

.kategori .kategori-kiri {
	width: 30%;
	display: block;
	float: left;
}

.kategori .kategori-panel{
	margin-bottom: 30px;
	box-shadow: 1px 1px 5px black;
}

.kategori .kategori-panel-header {
	font-weight: bold;
	padding: 20px;
	background-color: #B8B8B8;
}

.kategori-panel-body {
	padding: 20px;
}

.kategori-panel-body li {
	list-style-type: none;
	margin-bottom: 10px;
}

.kategori-kanan {
	margin-left: 60px;
	width: 64%;
	display: inline-block;
}

.kategori-kanan .produk {
	width: 25%;
	display: inline-block;
	padding: 27px;
	box-shadow: 2px 2px 20px black;
	margin-bottom: 50px;
	margin-right: 10px;
	text-align: center;
}
.kategori-kanan .produk:nth-child(3) {
	margin-right: 0px;
}

.kategori-kanan .produk img{
	max-width: 100%;
	margin-bottom: 30px;
}

.kategori-kanan .produk .judul-produk{
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	color: black;
	text-decoration: none;
	margin-bottom: 10px;
}

.kategori-kanan .beli {
	margin-top: 20px;
	background-color: #7A04FF;
	padding: 10px 20px;
	border: none;
	color: white;
}

.pagination {
	display: block;
	margin: auto;
}

.pagination li {
	display: inline-block;
	background-color: #7A04FF;
	padding: 15px 20px;
}
.pagination a {
	color: white;
}


@media screen and (max-width: 425px) {

	.kategori {
		padding: 50px 10px;
	}

	.kategori .kategori-kiri {
		width: 100%;
		display: block;
	}

	.kategori-kanan {
		margin-left: 0px;
		width: 100%;
	}

	.kategori-kanan .produk {
		width: 82%;
	}

}