.logo2 {
  display: none;
}
.logo {
  float: left;
  margin: auto;
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 200px;
  font-weight: bold;
  stroke: #7A04FF;
}

.cart-dan-pencarian {
  float: right;
  margin-right: 200px;
  font-size: 25px;
  margin-top: 15px;
  color: white;
}


.navigasiku {
  overflow: hidden;
  background-color: #333;
}

.navigasiku a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #7A04FF;
  color: white;
}

.icon {
  display: none;
  color: white;
  font-size: 25px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 16px 23px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navigasiku a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 425px) {
  .logo {
    display: none;
  }
  .navigasiku a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  a.icon {
    float: right;
    display: block;
  }

  .navigasiku.responsive {position: relative;}
  .icon {
    position: absolute;
    right: 10px;
    top: 8px;
  }
  .navigasiku.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigasiku.responsive .dropdown {float: none;}
  .navigasiku.responsive .dropdown-content {position: relative;}
  .navigasiku.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

  .cart-dan-pencarian {
    display: none;
  }


  .logo2 {
    display: block;
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #333;
    padding: 10px;
  }
}

@media screen and (max-width: 1366px){
  .logo {
    float: left;
    margin: auto;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 150px;
    font-weight: bold;
    stroke: #7A04FF;
  }
}

@media screen and (max-width: 1024px){
  .logo {
    float: left;
    margin: auto;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    stroke: #7A04FF;
  }
}