.katalog {
	margin-bottom: 550px;
}
.katalog h1 {
	margin-left: 200px;
	display: block;
	margin-bottom: 40px;
	text-decoration: underline;
}
.katalog .katalogku {
	margin-top: 10px;
	padding: 10px;
}
.katalog .produk{
	float: left;
	display: inline-block;
	width: 28%;
	margin-right: 43px;
	height: 400px;
	padding: 20px;
	background-color: #FFFFFF;
}
.katalog .produk:last-child{
	margin-right: 0px;
}
.katalog img {
	vertical-align: middle;
	margin: auto;
	height: 100%;
	display: block;
	max-width: 100%;
	max-height: 100%;
}
.katalog .beli {
	margin-top: -40%;
}
.katalog a {
	color: black;
	background-color: white;
	padding: 20px 50px;
	text-decoration: none;
	margin-left: calc(31% + 20px);
	position: relative;
}

.katalog .judul {
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: -80px;
	font-weight: bold;
}

@media screen and (max-width: 425px){

	.katalog .produk {
		width: 90%;
		margin-bottom: 20px;
	}


	.katalog h1 {
		text-align: center;
		margin-left: 0;
	}

}