a {
	text-decoration: none;
	margin-right: 10px;
	color: #DDDDDD;
}

input {
	padding: 10px 20px;
}

button {
	padding: 5px 10px;
	background-color: #1DE743;
	border: 1px solid #373535;
}

body {
	background-color: #726CF6;
	font-family: sans-serif;
}

table {
	background-color: #000496;
	border: 1px solid #777777;
	border-radius: 10px;
	color: white;
}